html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('https://4kwallpapers.com/images/walls/thumbs_3t/11027.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Arial', sans-serif;
}
body {
    border-image-repeat: repeat;
}
.main-title {
    margin-bottom: 20px;
    font-size: 2.5rem;
    color: #f8f9fa;
    text-align: center;
    border-radius: 5px;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
    font-family: 'Georgia', serif; 
    letter-spacing: 2px; 
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card .btn {
    color: rgb(255, 255, 255);
    background-color: rgb(76, 0, 255);
}

.main-div {
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-top: 65px;
    background-color: rgba(255, 232, 253, 0.5);
    width: fit-content;
    border-radius: 20px;
}



